<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="HOMEAIRPORT" value="FRA" />
    <add key="INITURL" value="https://flifo-qa.api.aero/flifo/flightinfo/v1/flights/airport/{0}/direction/{1}?pastWindow={2}&amp;futureWindow={3}&amp;searchByUTC=true&amp;showCargo=false&amp;groupMarketingCarriers=true&amp;view=full" />
    <add key="UPDATEURL" value="https://flifo-qa.api.aero/flifo/flightinfo/v1/flights/updates/airport/{0}?from={2}&amp;to={3}&amp;showCargo=false&amp;direction={1}&amp;view=full" />
    <add key="AMSToken" value="sadasdasd" />
    <add key="FLIFOToken" value="SZpvZxtHHeyo3mwhmsGhMKcZGLtEnRG2" />
    <add key="UpdateInterval" value="15" />
  </appSettings>
</configuration>