<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" layout="[${longdate}][${level}]  ${message}" fileName="${basedir}/logs/Loader.log"
            archiveFileName="${basedir}/logs/archives/log.{#####}.txt"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    </target>
    <target name="consoleSrc" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Blue" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    </target>
    <target name="consoleDest" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGreen" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGreen" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    </target>
  </targets>

  <rules>
    <logger name="consoleLogger" minlevel="Info" writeTo="console" />
    <logger name="arrivalLogger" minlevel="Info" writeTo="consoleSrc" />
    <logger name="depLogger" minlevel="Info" writeTo="consoleDest" />
  </rules>
</nlog>